body h2 {
    font-style: oblique;
    position: relative;
    bottom: 10px;
}
body .J {
    font-style: oblique;
    position: relative;
    bottom: 50px;
}
.frame {
    position: relative;
    bottom: 25px;
}
.frame .img1 .g {
    position: relative;
    left: 3px;
    bottom: 8px;
}
.frame .img1 .h {
    position: relative;
    left: 10px;
    bottom: 8px;
}
.frame .img2 .g {
    position: relative;
    left: 3px;
    bottom: 8px;
}
.frame .img2 .h {
    position: relative;
    left: 10px;
    bottom: 8px;
}
.frame .img3 .g {
    position: relative;
    left: 3px;
    bottom: 8px;
}
.frame .img3 .h {
    position: relative;
    left: 10px;
    bottom: 8px;
}
.frame .img4 .g {
    position: relative;
    left: 3px;
    bottom: 8px;
}
.frame .img4 .h {
    position: relative;
    left: 10px;
    bottom: 8px;
}
.frame .img5 .g {
    position: relative;
    left: 3px;
    bottom: 8px;
}
.frame .img5 .h {
    position: relative;
    left: 10px;
    bottom: 8px;
}
.frame .img6 .g {
    position: relative;
    left: 3px;
    bottom: 8px;
}
.frame .img6 .h {
    position: relative;
    left: 10px;
    bottom: 8px;
}
.frame .img7 .g {
    position: relative;
    left: 3px;
    bottom: 8px;
}
.frame .img7 .h {
    position: relative;
    left: 10px;
    bottom: 8px;
}
.frame .img8 .g {
    position: relative;
    left: 3px;
    bottom: 8px;
}
.frame .img8 .h {
    position: relative;
    left: 10px;
    bottom: 8px;
}
.frame .img9 .g {
    position: relative;
    left: 3px;
    bottom: 8px;
}
.frame .img9 .h {
    position: relative;
    left: 10px;
    bottom: 8px;
}
.frame .img10 .h {
    position: relative;
    left: 10px;
    bottom: 8px;
}
